.saki-richtext-content {
  .ql-editor {
    &::before {
      font-size: 16px;
    }
  }
  p {
    // display: inline-flex;
    // align-items: center;
    word-break: break-all;
    font-size: 16px;
  }
  .mwc-emoji {
    width: 28px;
    height: 28px;
    display: inline-block;
    margin: 0 2px;
    transform: translateY(6px);
  }
}
