.add-roadbook-page {
  padding: 0 10px;
  z-index: 100;
  .ap-main {
    .av-allowshare {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px 0 20px;
    }
  }
}
