.map-buttons-component {
  position: absolute;
  right: 20px;
  bottom: 50px;
  z-index: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .realTimePosition-button {
    position: relative;

    &::after {
      content: "";
      width: 16px;
      height: 16px;
      border: 3px solid #fff;
      border-radius: 50%;
      position: absolute;
      left: 0px;
      top: 14px;
    }

    &.start {
      --anima-bg-color: #51ce87;
      --anima-bg-active-color: #108543;

      &::after {
        background-color: var(--anima-bg-color);
      }

    }

    &.close {
      &::after {
        background-color: #aaa;
      }
    }

    &.start.Disable {
      --anima-bg-color: #ad0808;
      --anima-bg-active-color: #7a0808;

      &::after {
        background-color: var(--anima-bg-color);
      }
    }


    &.start {
      @keyframes anima {
        0% {
          box-shadow: 0 0 10px #fff;
          background-color: var(--anima-bg-color);
        }

        100% {
          box-shadow: 0 0 10px var(--anima-bg-color);
          background-color: var(--anima-bg-active-color);
        }
      }

      &::after {
        animation: anima infinite alternate-reverse 1s;
      }
    }


  }

  .mark-button {

    .mark-content {
      font-weight: 700;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      color: #fff;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
    }
  }
}