.dashboard-layer {
  width: 100%;
  height: 100%;
  .dl-comp {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .dl-map {
    width: 100%;
    height: 100%;
  }
}

.dashboard-component {
  // position: relative;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 410;

  pointer-events: none;

  & > div {
    pointer-events: auto;
  }

  @font-face {
    font-family: 'Verdana';
    src: url('/fonts/verdana-bold.ttf') format('truetype');
    font-weight: normal; /* 常规字重 */
    // font-weight: bold; /* 粗体 */
    font-style: normal; /* 常规样式 */
    font-display: swap; /* 加载期间使用回退字体，加载完成后替换 */
  }

  .custom-font {
    font-family: Verdana, sans-serif;
  }

  &.Dark {
    --bg-color: rgba(0, 0, 0, 0.5);
    --text-color: #fff;
    --h2-text-color: #bbb;
  }

  &.Light {
    --bg-color: rgba(255, 255, 255, 0.7);
    --text-color: #000;
    --h2-text-color: #666;

    &.dark-text {
      --dark-text-color: #000;
      --dark-text-h2-color: #666;
      --dark-text-shadow: transparent;
    }
    &.light-text {
      --dark-text-color: #000;
      --dark-text-h2-color: #666;
      --dark-text-shadow: transparent;
    }
    .dashboard-time {
      --bg-color: rgba(255, 255, 255, 0.3);
    }

    .dashboard-alt,
    .dashboard-distance,
    .dashboard-slope {
      background-color: rgba(255, 255, 255, 0.3);
    }
    .dashboard-speed,
    .dashboard-g {
      background-color: rgba(255, 255, 255, 0.2);
      .speedometer {
        background-color: rgba(255, 255, 255, 0.3);
        .sm-text {
          color: #000;
          .sm-t-g {
            color: #222;
          }
          .sm-t-speed {
          }
          .sm-t-unit {
            color: #444;
          }
        }
      }
    }
  }

  --text-shadow-dark: rgba(0, 0, 0, 0.2);
  --text-shadow-light: rgba(255, 255, 255, 0.6);

  &.dark-text {
    --dark-text-color: #fff;
    --dark-text-h2-color: #ccc;
    --dark-text-shadow: var(--text-shadow-dark);
  }
  &.light-text {
    --dark-text-color: #444;
    --dark-text-h2-color: #666;
    --dark-text-shadow: var(--text-shadow-light);
  }

  &.pov {
    --bg-color: #000;
    // --dark-text-shadow: #eee;
    // background-color: #222;
    --dark-text-shadow: transparent;
    .dashboard-time {
      // background-color: rgba(0, 0, 0, 0.5);
      background-color: #000;
      left: 10px;
      transform: translate(0, 0);
      .dt-text {
        & > span {
          // text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2),
          //   1px -1px 0 rgba(0, 0, 0, 0.2), -1px 1px 0 rgba(0, 0, 0, 0.2),
          //   1px 1px 0 rgba(0, 0, 0, 0.2);
        }
      }
    }
    .dashboard-alt {
      top: 148px;
    }
    .dashboard-distance {
      top: 56px;
    }

    .dashboard-alt,
    .dashboard-distance,
    .dashboard-slope {
      // background-color: #000;
      .da-progress {
        width: calc(var(--progress-width) + 0px);
        background-color: #000;
      }
      .da-val {
        & > span {
          color: var(--dark-text-color);
          font-size: 14px;
          text-shadow: -1px -1px 0 var(--dark-text-shadow),
            1px -1px 0 var(--dark-text-shadow),
            -1px 1px 0 var(--dark-text-shadow),
            1px 1px 0 var(--dark-text-shadow);
        }
      }
    }

    .dashboard-speed,
    .dashboard-g {
      background-color: #222;
      .speedometer {
        background-color: #000;
      }
    }

    .dashboard-data {
      &.hide {
        .data-position {
          position: absolute;
          top: 7px;
          left: 10px;
          transform: translate(0%, 0);
          // display: none;
          width: calc(100% - 00px);
        }
        .data-bottom {
          position: absolute;
          top: 0;
          right: 40px;
          margin: 5px 0;
          width: calc(100% - 00px);
          .data-b-item {
            display: flex;
            flex-direction: row-reverse;
            .di-value {
              font-size: 14px;
              font-weight: 700;
              font-variant-numeric: tabular-nums;
              color: var(--text-color);
              transition: color 0.2s;
              white-space: nowrap;
              display: flex;
              justify-content: center;
              align-items: flex-end;

              .di-v-unit {
                font-size: 12px;
                color: var(--text-color);
                margin: 0 0 0 2px;
              }
            }
            .di-unit {
              margin: 0 6px 0 0;
            }
          }
        }
      }
    }

    // .dashboard-alt,
    // .dashboard-distance,
    // .dashboard-slope {
    //   .da-progress {
    //     background-color: #222;
    //   }
    // }
    // .dashboard-speed,
    // .dashboard-g {
    //   background-color: #222;
    //   .speedometer {
    //     background-color: #000;
    //     .sm-text {
    //       color: #eee;
    //       .sm-t-g {
    //         color: #eee;
    //       }
    //       .sm-t-speed {
    //       }
    //       .sm-t-unit {
    //         color: #bbb;
    //       }
    //     }
    //   }
    // }
  }
  // &.Dark {
  //   --bg-color: #010101;
  //   --text-color: #fff;
  //   --h2-text-color: #aaa;
  // }

  // &.Light {
  //   --bg-color: #fff;
  //   --text-color: #000;
  //   --h2-text-color: #666;
  // }

  &.markerPosition {
    .data-main {
      height: 240px;

      .data-bottom {
        grid-template-rows: repeat(1, 1fr);
      }
    }
  }

  &.Mobile {
    // .dashboard-lefttop-layer {
    // }
    .dashboard-alt,
    .dashboard-distance,
    .dashboard-slope {
      min-width: 110px;
      margin: 0 0 10px 0;
      padding: 6px 10px;

      .da-val {
        & > span {
          // color: #fff;
          font-size: 14px;
          &:nth-child(2) {
            font-size: 26px;
          }

          &:nth-child(3) {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            & > span {
              &:nth-child(2) {
                font-size: 14px;
                // font-size: 12px;
              }
            }
          }
        }
      }
    }
    .dashboard-time {
      min-width: 110px;
      margin: 0 0 10px 0;
      .dt-text {
        & > span {
          font-size: 14px;
        }
      }
    }

    .dashboard-speed {
      // --pixel: 120px;
    }
    .dashboard-g {
      left: 156px;
    }
    .dashbord-weather {
      // bottom: calc(30px + var(--dashboard-data-h));
    }
    .dashbord-city {
      span {
        font-size: 15px;
      }
    }
  }

  // .dashboard-lefttop-layer {
  //   position: absolute;
  //   left: 20px;
  //   top: 20px;
  //   z-index: calc(var(--z-index) + 10);
  //   display: flex;
  //   flex-direction: column;
  // }

  .dashboard-alt,
  .dashboard-distance,
  .dashboard-slope {
    --progress-height: 70px;
    --progress-width: 6px;
    --progress: 0;
    position: absolute;
    left: 10px;
    top: 12px;
    z-index: calc(var(--z-index) + 10);
    min-width: 128px;
    display: flex;
    // background: linear-gradient(
    //   90deg,
    //   rgba(0, 0, 0, 0.3) 0%,
    //   rgba(0, 0, 0, 0.1) 100%
    // );
    padding: 8px 12px;
    border-radius: 10px;
    transition: width 0.3s;
    margin: 0 0 14px 0;
    // background-color: rgba(0, 0, 0, 0.1);
    &.light {
    }
    &.dark {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .da-progress {
      width: var(--progress-width);
      height: var(--progress-height);
      border-radius: 5px;
      background-color: rgba(0, 0, 0, 0.5);
      // background: linear-gradient(45deg, rgb(140, 200, 70), rgb(230, 110, 70));
      position: relative;
      &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0px;
        transform: translateX(-50%);
        width: var(--progress-width);
        height: calc(var(--progress-height) * var(--progress));
        border-radius: 5px;
        // background-color: #666666;

        // transition: height 0.3s;
        // transition: bottom 0.3s;
        background: linear-gradient(
          45deg,
          rgb(140, 200, 70),
          rgb(230, 110, 70)
        );
      }
    }
    .da-val {
      padding: 0 0 0 8px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      & > span {
        color: var(--dark-text-color);
        font-size: 14px;
        text-shadow: -1px -1px 0 var(--dark-text-shadow),
          1px -1px 0 var(--dark-text-shadow), -1px 1px 0 var(--dark-text-shadow),
          1px 1px 0 var(--dark-text-shadow);
        &:nth-child(2) {
          font-size: 24px;
          font-weight: 700;
        }

        &:nth-child(3) {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;

          & > span {
            &:nth-child(2) {
              font-size: 14px;
              font-weight: 300;
              color: var(--dark-text-h2-color);
            }
          }
        }
      }
    }
  }
  .dashboard-slope {
    .da-progress {
      --progress-bottom: 35px;
      &::after {
        bottom: var(--progress-bottom);
        height: calc(var(--progress-height) * var(--progress) / 2);
      }
    }
  }
  .dashboard-alt {
    top: 104px;

    @media screen and (max-height: 410px) {
      top: 12px;
      left: 130px;
    }
  }
  .dashboard-distance {
    top: 12px;
  }

  .dashboard-time {
    position: absolute;
    // left: 20px;
    top: 10px;
    // position: fixed;
    left: 50%;
    // top: 20px;
    transform: translate(-50%, 0);
    min-width: 128px;
    z-index: calc(var(--z-index) + 10);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    padding: 10px 10px;
    border-radius: 10px;
    margin: 0 0 14px 0;
    .dt-text {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      & > span {
        color: var(--text-color);
        font-size: 14px;
        // font-weight: 700;
      }
    }
  }

  .dashboard-speed,
  .dashboard-g {
    --pixel: 160px;
    position: absolute;
    left: 10px;
    bottom: calc(6px + var(--dashboard-data-h));
    width: var(--pixel);
    height: var(--pixel);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    z-index: calc(var(--z-index) + 11);
    transition: bottom 0.3s;

    .speedometer {
      --margin-pixel: var(--pixel) / 7;
      position: relative;
      width: calc(100% - var(--margin-pixel));
      height: calc(100% - var(--margin-pixel));
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 50%;
      margin: calc(var(--margin-pixel) / 2);

      .outer-circle {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: conic-gradient(
          from 360deg,
          rgb(140, 200, 70) 0%,
          rgb(230, 110, 70) 50%,
          rgb(230, 110, 70) 100%
        );
        mask: radial-gradient(circle, transparent 63%, black 41%);
        // clip-path: path(
        //   'M100,100 L100,0 A100,100 0 0 1 121.20071099220543,197.72681235681935 Z'
        // );
        // clip-path: var(--clip-path);
        // clip-path: url(#progress-clip); /* 使用动态 clip-path 裁剪 */
        clip-path: path(
          'M 68.5714 68.5714 L 68.5714 0 A 68.5714 68.5714 0 1 1 68.5714 0 Z'
        );

        transform: rotate(180deg);

        // transition: clip-path 0.5s ease;
        transition: clip-path 0.3s;
      }

      .sm-text {
        position: absolute;
        width: calc(100% - var(--pixel) / 8);
        height: calc(100% - var(--pixel) / 8);
        // background: #fff;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        font-weight: 700;
        color: #fff;
        box-shadow: 0 0 calc(var(--pixel) / 16) rgba(0, 0, 0, 0.1);

        saki-icon {
          transform: translate(0, -6px)
            rotate(calc(var(--position-heading) - 90deg));
          transition: transform 0.3s;
        }
        .sm-t-g {
          font-size: calc(var(--pixel) / 12);
          color: #eee;
          span {
            &:nth-child(2) {
              font-size: calc(var(--pixel) / 15);
              margin: 0 0 0 2px;
            }
          }
        }
        .sm-t-speed {
          font-size: calc(var(--pixel) / 4.6);
          // color: #666;
          margin: 4px 0;
        }
        .sm-t-unit {
          font-size: calc(var(--pixel) / 11);
          color: #bbb;
        }
      }
    }
  }

  .dashboard-g {
    left: 170px;
    .speedometer {
      .outer-circle {
        mask: radial-gradient(circle, transparent 60%, black 41%);
      }
      .sm-text {
        .sm-t-g {
          font-size: calc(var(--pixel) / 5);
        }
      }
    }
  }

  // .dashbord-weather {
  //   position: absolute;
  //   right: 10px;
  //   bottom: calc(56px + var(--dashboard-data-h));
  //   z-index: calc(var(--z-index) + 0);
  //   // background-color: rgba(0, 0, 0, 0.3);
  //   border-radius: 10px;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: flex-end;
  //   span {
  //     font-size: 18px;
  //     font-weight: 700;

  //     color: var(--dark-text-h2-color);
  //     // color: #444;
  //     // text-shadow: -1px -1px 0 var(--text-shadow-light),
  //     //   1px -1px 0 var(--text-shadow-light), -1px 1px 0 var(--text-shadow-light),
  //     //   1px 1px 0 var(--text-shadow-light);
  //     &:nth-child(1) {
  //       span {
  //         &:nth-child(2) {
  //           font-size: 14px;
  //         }
  //       }
  //     }
  //     &:nth-child(2) {
  //       font-size: 14px;
  //     }
  //   }
  // }

  // .dashbord-city {
  //   position: absolute;
  //   right: 10px;
  //   bottom: calc(36px + var(--dashboard-data-h));
  //   z-index: calc(var(--z-index) + 0);
  //   // background-color: rgba(0, 0, 0, 0.3);
  //   // padding: 4px 12px;
  //   border-radius: 10px;
  //   display: flex;

  //   span {
  //     font-size: 16px;
  //     font-weight: 700;

  //     color: var(--dark-text-h2-color);
  //     // color: #444;
  //     // --text-shadow: rgba(255, 255, 255, 0.6);
  //     // text-shadow: -1px -1px 0 var(--text-shadow), 1px -1px 0 var(--text-shadow),
  //     //   -1px 1px 0 var(--text-shadow), 1px 1px 0 var(--text-shadow);
  //   }
  // }

  .dashboard-data {
    position: absolute;
    // left: 50%;
    // top: 40px;
    // transform: translate(-50%, 0);

    left: 0px;
    bottom: 0px;
    width: 100%;
    // height: 250px;
    // height: 300px;
    transform: translate(0, 0);

    z-index: calc(var(--z-index) + 0);
    border-radius: 00px 00px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: width 0.3s;
    padding: 20px 0 20px;

    background-color: var(--bg-color);

    font-variant-numeric: tabular-nums;
    font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji,
      Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

    transition: background-color 0.2s;

    transition: bottom 0.3s;

    &.Mobile {
      width: 100%;
      // height: 250px;
      // height: 300px;
      bottom: 0px;
      left: 0px;
      transform: translate(0, 0);
      // border-radius: 0 0 20px 20px;

      .data-bottom {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);

        // .data-b-item.windSpeed {
        //   display: none;
        // }
      }

      @media screen and (min-width: 600px) {
        // height: 250px;

        .data-bottom {
          grid-template-columns: repeat(6, 1fr);
          grid-template-rows: repeat(1, 1fr);

          // .data-b-item.windSpeed {
          //   display: none;
          // }
        }

        // .data-position {
        //   span.weather {
        //     display: inline;
        //   }
        // }

        .data-header-right {
          span.wind {
            display: inline;
          }
        }
      }
    }
    &.hide {
      bottom: calc(-1 * var(--dashboard-data-cur-height) + 30px);
    }

    .dashboard-mindata {
      width: calc(100% - 40px);
      height: 30px;
      position: absolute;
      top: 0;
      left: 0;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .data-theme {
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      span {
        color: var(--text-color);
        transition: color 0.2s;
      }

      .data-markerinfo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 1px 0 0 6px;

        .logo {
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }
      }
    }

    .data-running-speed {
      position: absolute;
      left: 0;
      top: 0;

      span {
        color: var(--text-color);
        transition: color 0.2s;
      }
    }

    .data-speed {
      display: flex;
      flex-direction: column;
      align-items: center;

      .ds-value {
        font-size: 46px;
        font-weight: 700;
        color: var(--text-color);
        transition: color 0.2s;
      }

      .ds-unit {
        font-size: 18px;
        color: var(--h2-text-color);
        transition: color 0.2s;
      }
    }

    .data-bottom {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(1, 1fr);
      // justify-content: space-between;
      margin: 9px 0 8px 0;
      width: 100%;
      padding: 0 10px;
      max-width: 1000px;

      // flex-wrap: wrap;
      .data-b-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;

        // margin: 0px 0;
        .di-value {
          font-size: 20px;
          font-weight: 700;
          font-variant-numeric: tabular-nums;
          color: var(--text-color);
          transition: color 0.2s;
          white-space: nowrap;
          display: flex;
          justify-content: center;
          align-items: flex-end;

          .di-v-unit {
            font-size: 12px;
            color: var(--text-color);
            margin: 0 0 0 2px;
          }
        }

        .di-unit {
          font-size: 14px;
          color: var(--h2-text-color);
          transition: color 0.2s;
        }
      }
    }

    .data-position {
      position: absolute;
      bottom: 4px;
      left: 50%;
      transform: translate(-50%, 0);
      font-size: 12px;
      color: var(--h2-text-color);
      transition: color 0.2s;
      white-space: nowrap;
      span.weather {
        display: none;
      }
    }

    .data-header-right {
      position: absolute;
      top: 0px;
      right: 4px;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .dhr-weather {
        color: #fff;
        margin: 0 10px 0 0;
      }
      span.wind {
        display: none;
      }
    }
  }

  .data-min {
    &.Dark {
      --bg-color: #010101;
      --text-color: #fff;
      --h2-text-color: #aaa;
      border: 6px solid #fff;
    }

    &.Light {
      --bg-color: #fff;
      --text-color: var(--saki-default-color);
      --h2-text-color: var(--saki-default-color);
      border: 6px solid var(--saki-default-color);
    }

    width: 100px;
    height: 100px;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: var(--bg-color);
    z-index: calc(var(--z-index) + 10);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .data-speed {
      display: flex;
      flex-direction: column;
      align-items: center;

      .ds-value {
        font-size: 30px;
        font-weight: 700;
        color: var(--text-color);
        transition: color 0.2s;
      }

      .ds-unit {
        font-size: 14px;
        color: var(--h2-text-color);
        transition: color 0.2s;
      }
    }
  }

  .data-main {
    width: 420px;
    // height: 250px;
    height: 300px;
    position: absolute;
    // left: 50%;
    // top: 40px;
    // transform: translate(-50%, 0);

    top: 10px;
    left: 10px;
    transform: translate(0, 0);

    z-index: calc(var(--z-index) + 10);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: width 0.3s;

    background-color: var(--bg-color);

    font-variant-numeric: tabular-nums;
    font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji,
      Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

    transition: background-color 0.2s;

    &.Mobile {
      width: 100%;
      // height: 250px;
      height: 300px;
      top: 0px;
      left: 0px;
      transform: translate(0, 0);
      border-radius: 0 0 20px 20px;

      @media screen and (min-width: 500px) {
        height: 250px;

        .data-bottom {
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: repeat(2, 1fr);

          .data-b-item.windSpeed {
            display: none;
          }
        }

        // .data-position {
        //   span.weather {
        //     display: inline;
        //   }
        // }

        .data-header-right {
          span.wind {
            display: inline;
          }
        }
      }

      // background-color: #111111;
      // .data-speed {
      // 	.ds-value {
      // 		color: #fff;
      // 	}
      // 	.ds-unit {
      // 		color: #ddd;
      // 	}
      // }

      // .data-bottom {
      // 	.data-b-item {
      // 		.di-value {
      // 			color: #fff;
      // 		}
      // 		.di-unit {
      // 			color: #ddd;
      // 		}
      // 	}
      // }
      // .data-position {
      // 	color: #999;
      // }
    }

    .data-theme {
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      span {
        color: var(--text-color);
        transition: color 0.2s;
      }

      .data-markerinfo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 1px 0 0 6px;

        .logo {
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }
      }
    }

    .data-running-speed {
      position: absolute;
      left: 0;
      top: 0;

      span {
        color: var(--text-color);
        transition: color 0.2s;
      }
    }

    .data-speed {
      display: flex;
      flex-direction: column;
      align-items: center;

      .ds-value {
        font-size: 46px;
        font-weight: 700;
        color: var(--text-color);
        transition: color 0.2s;
      }

      .ds-unit {
        font-size: 18px;
        color: var(--h2-text-color);
        transition: color 0.2s;
      }
    }

    .data-bottom {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      // justify-content: space-between;
      margin: 6px 0;
      width: 100%;
      padding: 0 10px;

      // flex-wrap: wrap;
      .data-b-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;

        // margin: 0px 0;
        .di-value {
          font-size: 22px;
          font-weight: 700;
          font-variant-numeric: tabular-nums;
          color: var(--text-color);
          transition: color 0.2s;
          white-space: nowrap;
          display: flex;
          justify-content: center;
          align-items: center;

          .di-v-unit {
            font-size: 12px;
            color: var(--text-color);
            margin: 0 0 0 6px;
          }
        }

        .di-unit {
          font-size: 14px;
          color: var(--h2-text-color);
          transition: color 0.2s;
        }
      }
    }

    .data-position {
      position: absolute;
      bottom: 4px;
      left: 50%;
      transform: translate(-50%, 0);
      font-size: 12px;
      color: var(--h2-text-color);
      transition: color 0.2s;
      white-space: nowrap;
      span.weather {
        display: none;
      }
    }

    .data-header-right {
      position: absolute;
      top: 0px;
      right: 4px;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .dhr-weather {
        color: #fff;
        margin: 0 10px 0 0;
      }
      span.wind {
        display: none;
      }
    }
  }
}

.speed-meter-component {
  &.Dark {
    --bg-color: #010101;
    --text-color: #fff;
    --h2-text-color: #aaa;
  }

  &.Light {
    --bg-color: #fff;
    --text-color: #000;
    --h2-text-color: #666;
  }

  &.markerPosition {
    .data-main {
      height: 240px;

      .data-bottom {
        grid-template-rows: repeat(1, 1fr);
      }
    }
  }

  .data-min {
    &.Dark {
      --bg-color: #010101;
      --text-color: #fff;
      --h2-text-color: #aaa;
      border: 6px solid #fff;
    }

    &.Light {
      --bg-color: #fff;
      --text-color: var(--saki-default-color);
      --h2-text-color: var(--saki-default-color);
      border: 6px solid var(--saki-default-color);
    }

    width: 100px;
    height: 100px;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: var(--bg-color);
    z-index: calc(var(--z-index) + 10);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .data-speed {
      display: flex;
      flex-direction: column;
      align-items: center;

      .ds-value {
        font-size: 30px;
        font-weight: 700;
        color: var(--text-color);
        transition: color 0.2s;
      }

      .ds-unit {
        font-size: 14px;
        color: var(--h2-text-color);
        transition: color 0.2s;
      }
    }
  }

  .data-main {
    width: 420px;
    // height: 250px;
    height: 300px;
    position: absolute;
    // left: 50%;
    // top: 40px;
    // transform: translate(-50%, 0);

    top: 10px;
    left: 10px;
    transform: translate(0, 0);

    z-index: calc(var(--z-index) + 10);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: width 0.3s;

    background-color: var(--bg-color);

    font-variant-numeric: tabular-nums;
    font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji,
      Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

    transition: background-color 0.2s;

    &.Mobile {
      width: 100%;
      // height: 250px;
      height: 300px;
      top: 0px;
      left: 0px;
      transform: translate(0, 0);
      border-radius: 0 0 20px 20px;

      @media screen and (min-width: 500px) {
        height: 250px;

        .data-bottom {
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: repeat(2, 1fr);

          .data-b-item.windSpeed {
            display: none;
          }
        }

        // .data-position {
        //   span.weather {
        //     display: inline;
        //   }
        // }

        .data-header-right {
          span.wind {
            display: inline;
          }
        }
      }

      // background-color: #111111;
      // .data-speed {
      // 	.ds-value {
      // 		color: #fff;
      // 	}
      // 	.ds-unit {
      // 		color: #ddd;
      // 	}
      // }

      // .data-bottom {
      // 	.data-b-item {
      // 		.di-value {
      // 			color: #fff;
      // 		}
      // 		.di-unit {
      // 			color: #ddd;
      // 		}
      // 	}
      // }
      // .data-position {
      // 	color: #999;
      // }
    }

    .data-theme {
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      span {
        color: var(--text-color);
        transition: color 0.2s;
      }

      .data-markerinfo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 1px 0 0 6px;

        .logo {
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }
      }
    }

    .data-running-speed {
      position: absolute;
      left: 0;
      top: 0;

      span {
        color: var(--text-color);
        transition: color 0.2s;
      }
    }

    .data-speed {
      display: flex;
      flex-direction: column;
      align-items: center;

      .ds-value {
        font-size: 46px;
        font-weight: 700;
        color: var(--text-color);
        transition: color 0.2s;
      }

      .ds-unit {
        font-size: 18px;
        color: var(--h2-text-color);
        transition: color 0.2s;
      }
    }

    .data-bottom {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      // justify-content: space-between;
      margin: 6px 0;
      width: 100%;
      padding: 0 10px;

      // flex-wrap: wrap;
      .data-b-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;

        // margin: 0px 0;
        .di-value {
          font-size: 22px;
          font-weight: 700;
          font-variant-numeric: tabular-nums;
          color: var(--text-color);
          transition: color 0.2s;
          white-space: nowrap;
          display: flex;
          justify-content: center;
          align-items: center;

          .di-v-unit {
            font-size: 12px;
            color: var(--text-color);
            margin: 0 0 0 6px;
          }
        }

        .di-unit {
          font-size: 14px;
          color: var(--h2-text-color);
          transition: color 0.2s;
        }
      }
    }

    .data-position {
      position: absolute;
      bottom: 4px;
      left: 50%;
      transform: translate(-50%, 0);
      font-size: 12px;
      color: var(--h2-text-color);
      transition: color 0.2s;
      white-space: nowrap;
      span.weather {
        display: none;
      }
    }

    .data-header-right {
      position: absolute;
      top: 0px;
      right: 4px;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .dhr-weather {
        color: #fff;
        margin: 0 10px 0 0;
      }
      span.wind {
        display: none;
      }
    }
  }
}

.data-vehicle-item-dropdown {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  // transform: translateY(1px);

  span {
  }
}
