.speed-meter-component {
  &.Dark {
    --bg-color: #010101;
    --text-color: #fff;
    --h2-text-color: #aaa;
  }

  &.Light {
    --bg-color: #fff;
    --text-color: #000;
    --h2-text-color: #666;
  }

  &.markerPosition {
    .data-main {
      height: 200px;

      .data-bottom {
        grid-template-rows: repeat(1, 1fr);
      }
    }
  }

  .data-min {
    &.Dark {
      --bg-color: #010101;
      --text-color: #fff;
      --h2-text-color: #aaa;
      border: 6px solid #fff;
    }

    &.Light {
      --bg-color: #fff;
      --text-color: var(--saki-default-color);
      --h2-text-color: var(--saki-default-color);
      border: 6px solid var(--saki-default-color);
    }

    width: 100px;
    height: 100px;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: var(--bg-color);
    z-index: 400;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;


    .data-speed {
      display: flex;
      flex-direction: column;
      align-items: center;

      .ds-value {
        font-size: 30px;
        font-weight: 700;
        color: var(--text-color);
        transition: color 0.2s;
      }

      .ds-unit {
        font-size: 14px;
        color: var(--h2-text-color);
        transition: color 0.2s;
      }
    }

  }

  .data-main {

    width: 420px;
    // height: 250px;
    height: 300px;
    position: absolute;
    // left: 50%;
    // top: 40px;
    // transform: translate(-50%, 0);

    top: 10px;
    left: 10px;
    transform: translate(0, 0);

    z-index: 400;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: width 0.3s;

    background-color: var(--bg-color);

    font-variant-numeric: tabular-nums;
    font-family: ui-sans-serif,
      system-ui,
      sans-serif,
      Apple Color Emoji,
      Segoe UI Emoji,
      Segoe UI Symbol,
      Noto Color Emoji;

    transition: background-color 0.2s;

    &.Mobile {
      width: 100%;
      // height: 250px;
      height: 300px;
      top: 0px;
      left: 0px;
      transform: translate(0, 0);
      border-radius: 0 0 20px 20px;

      @media screen and (min-width: 500px) {
        height: 250px;

        .data-bottom {
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: repeat(2, 1fr);

          .data-b-item.windSpeed {
            display: none;
          }

        }

        // .data-position {
        //   span.weather {
        //     display: inline;
        //   }
        // }

        .data-header-right {
          span.wind {
            display: inline;
          }
        }
      }

      // background-color: #111111;
      // .data-speed {
      // 	.ds-value {
      // 		color: #fff;
      // 	}
      // 	.ds-unit {
      // 		color: #ddd;
      // 	}
      // }

      // .data-bottom {
      // 	.data-b-item {
      // 		.di-value {
      // 			color: #fff;
      // 		}
      // 		.di-unit {
      // 			color: #ddd;
      // 		}
      // 	}
      // }
      // .data-position {
      // 	color: #999;
      // }
    }


    .data-theme {
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      span {
        color: var(--text-color);
        transition: color 0.2s;
      }

      .data-markerinfo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 1px 0 0 6px;

        .logo {
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }
      }
    }



    .data-running-speed {
      position: absolute;
      left: 0;
      top: 0;

      span {
        color: var(--text-color);
        transition: color 0.2s;
      }
    }

    .data-speed {
      display: flex;
      flex-direction: column;
      align-items: center;

      .ds-value {
        font-size: 46px;
        font-weight: 700;
        color: var(--text-color);
        transition: color 0.2s;
      }

      .ds-unit {
        font-size: 18px;
        color: var(--h2-text-color);
        transition: color 0.2s;
      }
    }

    .data-bottom {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      // justify-content: space-between;
      margin: 6px 0;
      width: 100%;
      padding: 0 10px;

      // flex-wrap: wrap;
      .data-b-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;

        // margin: 0px 0;
        .di-value {
          font-size: 22px;
          font-weight: 700;
          font-variant-numeric: tabular-nums;
          color: var(--text-color);
          transition: color 0.2s;
          white-space: nowrap;
          display: flex;
          justify-content: center;
          align-items: center;

          .di-v-unit {
            font-size: 12px;
            color: var(--text-color);
            margin: 0 0 0 6px;
          }
        }

        .di-unit {
          font-size: 14px;
          color: var(--h2-text-color);
          transition: color 0.2s;
        }
      }
    }

    .data-position {
      position: absolute;
      bottom: 4px;
      left: 50%;
      transform: translate(-50%, 0);
      font-size: 12px;
      color: var(--h2-text-color);
      transition: color 0.2s;
      white-space: nowrap;
      span.weather {
        display: none;
      }
    }

    .data-header-right {
      position: absolute;
      top: 0px;
      right: 4px;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .dhr-weather {
        color: #fff;
        margin: 0 10px 0 0;
      }
      span.wind {
        display: none;
      }
    }

  }
}

.data-vehicle-item-dropdown {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  // transform: translateY(1px);

  span {}

}