#__next {
  width: 100%;
  height: 100%;
}

.trip-layout {
  width: 100%;
  height: 100%;

  .il-loading {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 11111;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: opacity 0.1s;
    opacity: 0;

    &.active {
      opacity: 1;
    }

    &.hide {
      display: none;
    }

    .loading-animation {
      position: absolute;
      top: calc(50% - 40px);
      transform: translateY(-50%);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin: auto;
      transform: rotate(360deg);

      // opacity: 0;
      &::before,
      &::after {
        position: absolute;
        content: '';
        box-sizing: border-box;
        border-radius: 50%;
        transform: rotate(720deg);
      }

      &::before {
        animation: rotate 2s infinite ease-out;
      }

      &::after {
        animation: rotate 2s infinite ease-in-out;
      }

      &::before {
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        border-top: 3px solid var(--default-color);
        border-left: 3px solid var(--default-color);
        border-bottom: 3px solid transparent;
        border-right: 3px solid transparent;
      }

      &::after {
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        border-bottom: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid #fff;
        border-left: 7px solid #fff;
        transition: border-color 0.3s;
      }

      @keyframes rotate {
        100% {
          transform: rotate(0deg);
        }
      }
    }

    .loading-name {
      transform: translateY(60px);
      font-size: 22px;
    }

    .loading-logo {
      width: 160px;
      height: 160px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .loading-progress-bar {
      position: absolute;
      bottom: 60px;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      max-width: 280px;
    }
  }

  saki-chat-layout {
    width: 100%;
    height: 100%;
  }

  .tl-side-navigator {
    height: 100%;
    background-color: #fff;

    saki-chat-layout-side-navigator {
      height: 100%;
    }
  }

  .tl-main {
    width: 100%;
    height: 100%;
    position: relative;

    .tl-m-main {
      width: 100%;
      height: calc(100% - 50px);

      &.headerFiexd {
        height: 100%;
      }
    }
  }
}

// colorscale64 custom_tile_grayscale tile_grayscale
.tile-color-scale {
  &.tile_grayscale {
    filter: grayscale(1);
  }

  &.tile_darkscale {
    filter: contrast(0.96) brightness(0.9) invert(1) hue-rotate(180deg);
  }

  &.tile_blackscale {
    filter: invert(1) hue-rotate(.5turn);
  }
}

// .model-content {
// 	z-index: 1003 !important;
// }
// .model-bg {
// 	z-index: 1002 !important;
// }

.tool-box-layout-menu-list {
  .tblml-item {
    a {
      font-size: 14px;
      padding: 14px 16px;
      display: block;
      color: #000;
    }
  }
}

.map_current_position_icon {
  --width: 26px;
  --height: 26px;
  width: calc(var(--width));
  height: calc(var(--height));
  transition: transform var(--position-transition) linear;
  position: relative;

  z-index: 474 !important;


  &.avatar {
    .map_current_position_icon-wrap {
      position: relative;
      width: calc(var(--width));
      height: calc(var(--height));

      .saki-avatar {
        position: absolute;
        left: 0px;
        top: 0px;
        width: calc(var(--width));
        height: calc(var(--height));
      }

      &::before {}

      .icon {
        &::after {
          content: '';
          width: calc(var(--width));
          height: calc(var(--height));
          background-color: transparent;
          position: absolute;
          top: 0px;
          left: 0px;
          border-radius: 50%;
          border: 3px solid #fff;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
        }
      }

    }

  }

  &.noAvatar {
    .map_current_position_icon-wrap {
      .icon {
        &::after {
          content: '';
          width: calc(var(--width));
          height: calc(var(--height));
          background-color: var(--saki-default-color);
          position: absolute;
          top: 0px;
          left: 0px;
          border-radius: 50%;
          border: 3px solid #fff;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
        }
      }
    }

  }

  .icon {
    width: calc(var(--width));
    height: calc(var(--height));
    position: absolute;
    transform: rotate(calc(var(--position-heading) - 135deg));
    // transition: transform .3s;
    // transform: rotate(var(--position-heading));

    &::before {
      content: '';
      width: calc(var(--width) * 0.75);
      width: calc(var(--height) * 0.75);
      height: 20px;
      background-color: #2263fe;
      position: absolute;
      top: 10px;
      left: 10px;
      border-radius: 5px;
      transform: skew(5deg, 5deg) rotate(180deg);
      border: 3px solid #fff;
    }

  }

  .map_current_position_icon-wrap {}
}

.map-marker-realtime-position {
  width: 28px !important;
  height: 28px !important;
  z-index: 400 !important;


  &.Vehicle {
    .map-marker-realtime-position-avatar {
      // border: 12px solid #fff;
      position: relative;
      width: 28px !important;
      height: 28px !important;

      saki-avatar {
        position: absolute;
        bottom: -14px;
        right: -14px;
      }

      .map-marker-realtime-position-icon {
        width: 32px;
        height: 32px;
        background-color: var(--saki-default-color);
        padding: 4px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;

      }
    }

  }



}

.map-max-speed-marker {
  --max-speed-marker-pixel: 10px;
  --max-speed-marker-bg-color: var(--saki-default-color);


  position: relative;
  width: var(--max-speed-marker-pixel);
  height: var(--max-speed-marker-pixel);
  border-radius: 50%;
  margin: calc(-1 * var(--max-speed-marker-pixel) / 2) 0 0 calc(-1 * var(--max-speed-marker-pixel) / 2);
  border: 2px solid #fff;
  background-color: var(--max-speed-marker-bg-color);



  .map-max-speed-marker-wrap {
    position: absolute;
    left: -120px;
    top: -50px;
    background-color: var(--max-speed-marker-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    height: 32px;
    border-radius: 16px;
    transform: scale(0.8) translate(42px, 15px);


    &::before {
      content: "";
      width: 50px;
      height: 50px;
      position: absolute;
      left: 72px;
      top: 8px;

      transform: rotate(310deg);

      width: 0;
      height: 0;
      border-top: 50px solid var(--max-speed-marker-bg-color);
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;

    }

    .msm-icon {
      background-color: #fff;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      saki-icon {}
    }

    .msm-speed {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      padding: 0 2px 0 2px;
      position: relative;

      span {
        color: #fff;

        &:nth-child(1) {
          font-size: 16px;
        }

        &:nth-child(2) {
          font-size: 11px;
          margin-left: 2px;
        }
      }
    }
  }
}

.map-city-marker {
  --max-city-marker-bg-color: var(--saki-default-color);


  // position: relative;
  border-radius: 50%;
  // margin: calc(-1 * var(--max-city-marker-pixel) / 2) 0 0 calc(-1 * var(--max-speed-marker-pixel) / 2);
  border: 2px solid #fff;
  background-color: var(--max-city-marker-bg-color);



  .map-city-marker-wrap {
    position: absolute;
    top: 4px;
    left: 50%;
    transform: translate(-50%, 0);
    // background-color: var(--max-city-marker-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    height: 28px;
    border-radius: 14px;

    &.h1 {
      top: 12px;
    }

    &.h2 {
      top: 12px;
    }

    &.h3 {
      top: 8px;
    }

    &.h4 {
      top: 5px;
    }

    &.h5 {
      top: 4px;
    }

    span {
      color: #666;
      font-weight: 700;
      // -webkit-text-stroke: 2px black;
      /* 现代浏览器 */
      --text-shadow: rgba(255, 255, 255, 0.7);
      text-shadow:
        -2px -2px 0 var(--text-shadow),
        2px -2px 0 var(--text-shadow),
        -2px 2px 0 var(--text-shadow),
        2px 2px 0 var(--text-shadow);
      /* 兼容 Firefox */

      // color: #fff;
      white-space: nowrap;

      font-size: 12px;

      &.h1 {
        font-size: 20px;
      }

      &.h2 {
        font-size: 18px;
      }

      &.h3 {
        font-size: 16px;
      }

      &.h4 {
        font-size: 14px;
      }

      &.h5 {
        font-size: 12px;
      }
    }

  }
}

.roadColorFade {
  .leaflet-tile-container {
    img {
      opacity: 0 !important;
      transition: opacity .3s;

      &.roadColorFade-active {
        opacity: 1 !important;

      }
    }
  }
}


.dp-menu-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .icon {
    fill: #666;
    width: 16px;
    height: 16px;
    margin-right: 6px;
    // transform: translateY(1px);
  }
}